<h1>Edit Contact Information</h1>
<%= form_tag "/contacts/#{@contact.id}", method: :patch do %>
<div> Name: <input type= "text" name="first_name_param"></div>
<div>Last Name: <input type= "text" name="last_name_param"></div>
<div>Email: <input type= "text" name="email_param"></div>
<div> Phone Number: <input type= "text" name="phone_number_param"></div>
<input type= "submit" value="Enter Contact">
<%end%>


<a href="/rests">Back to homepage</a>