<h1>Below is your new contact, welcome to the system!</h1>
<div><p><%= @contact.full_name%></p></div>
<div><p><%= @contact.email %><%= @contact.japan_phone %></p></div>
<div><p>Updated at: <%= @contact.friendly_updated_at %></p></div>